@import 'variable';


// ... reste du code ...

.footer {
  background-color: $nav-gray;
  padding: $spacing-6 $spacing-4;
  margin-top: $spacing-8;
  
  .container {
    display: flex;
    flex-direction: column;
    
    @media (min-width: 768px) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }
}

.footer-brand {
  margin-bottom: $spacing-4;
  
  @media (min-width: 768px) {
    margin-bottom: 0;
  }
  
  h3 {
    color: $title-blue;
    font-size: $font-size-2xl;
    font-weight: bold;
  }
  
  p {
    color: $gray-600;
    margin-top: $spacing-1;
  }
}

.footer-copyright {
  text-align: center;
  
  @media (min-width: 768px) {
    text-align: right;
  }
}

.footer-text {
  color: $gray-500;
  font-size: $font-size-sm;
}