$primary-blue: #4667ff;
$card-blue-light:#4667ff;
$primary-blue-light: #5d7bff;
$gray-light: #f3f4f6;
$gray-dark: #4b5563;
$radius-large: 1.5rem;
$radius-medium: 1rem;
// Variables de couleurs
$title-blue: #1e40af; // Couleur bleue principale
$nav-gray: #f3f4f6; // Ajoutez cette ligne
$white: #ffffff;
$gray-50:#e4e5e6;
$gray-100:#dcdedd;
$gray-200: #ced1d0;
$gray-300: #d1d5db;
$gray-400: #9ca3af;
$gray-500: #6b7280;
$gray-600: #4b5563;
$gray-700: #374151;
$gray-800:#434444;
$yellow-400: #fbbf24;

// Variables de police
$font-inter: 'Inter', sans-serif;

// Variables de tailles
$font-size-sm: 0.875rem;
$font-size-base: 1rem;
$font-size-lg: 1.125rem;
$font-size-xl: 1.25rem;
$font-size-2xl: 1.5rem;
$font-size-3xl: 1.875rem;
$font-size-4xl: 2.25rem;
$font-size-xs:0.5rem;

// Variables d'espacement
$spacing-1: 0.25rem;
$spacing-2: 0.5rem;
$spacing-3: 0.75rem;
$spacing-4: 1rem;
$spacing-6: 1.5rem;
$spacing-8: 2rem;
$spacing-12: 3rem;


$primary: #3b82f6;
$primary-dark: #2563eb;
$secondary: #7c3aed;
$secondary-light: #a78bfa;
$light: #f0f5ff;
$dark: #1e40af;
$gray: #6b7280;
$gray-light: #9ca3af;
$gray-bg: #f5f8ff;
$white: #ffffff;
$success: #10b981;
$border-radius-xl: 1rem;
$font-size-5xl: 3rem;
$font-size-6xl: 3.75rem;
$spacing-10:2.5rem;