/* Error: It's not clear which file to import. Found:
 *   src\styles\_mixins.scss
 *   src\styles\mixins.scss
 *   ,
 * 4 | @import 'mixins';
 *   |         ^^^^^^^^
 *   '
 *   src\styles\header.scss 4:9  @import
 *   src\styles\main.scss 8:9    root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: It's not clear which file to import. Found:\a   src\\styles\\_mixins.scss\a   src\\styles\\mixins.scss\a   \2577 \a 4 \2502  @import 'mixins';\d\a   \2502          ^^^^^^^^\a   \2575 \a   src\\styles\\header.scss 4:9  @import\a   src\\styles\\main.scss 8:9    root stylesheet";
}
