/* Error: @use rules must be written before any other rules.
 *   ,
 * 7 | @use 'accompagnement';
 *   | ^^^^^^^^^^^^^^^^^^^^^
 *   '
 *   src/styles/main.scss 7:1  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: @use rules must be written before any other rules.\a   \2577 \a 7 \2502  @use 'accompagnement';\a   \2502  ^^^^^^^^^^^^^^^^^^^^^\a   \2575 \a   src/styles/main.scss 7:1  root stylesheet";
}
